# phpstorm project files
.idea

#Documentation
/docs/.vitepress/cache

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# local config
/phpunit.xml
/psalm.xml
/cod-php.php

#php-cs-fixer
/.php-cs-fixer.cache

# logs
/logs

# Node modules
/node_modules

.env
